In [7]:
"""
Created on Tuesday Oct 20 11:55:31 2022

@author: Ahmet Sina Soykan
"""


import numpy as np                                 #importing numpy
import pandas as pd                                #importing pandas

population_dict = {'Rize': 141524,                 #creating dictionary named population_dict
                   'Trabzon': 807903,
                   'Bursa': 3139744,
                   'Erzurum': 767848,
                   'Kayseri': 1434357,
                   'İzmir':4367251,
                   'Niğde':362071}
population = pd.Series(population_dict)            #creating Series named population from "population_dict" dictionary
area_dict = {'Rize': 3920,                         #creating dictionary named area_dict
             'Trabzon': 6685, 
             'Bursa': 10882,
             'Erzurum': 25005, 
             'Kayseri': 17043,
             'İzmir':12012,
             'Niğde':2302}
area = pd.Series(area_dict)                        #creating Series named area from "area_dict" dictionary
states = pd.DataFrame({'population': population,   #creating DataFrame named "states" from two Series that we defined
                       'area': area})
states

         population   area
Rize         141524   3920
Trabzon      807903   6685
Bursa       3139744  10882
Erzurum      767848  25005
Kayseri     1434357  17043
İzmir       4367251  12012
Niğde        362071   2302